@model CassandraDataLayer.QueryEntities.User
<div class="container">
    <div>
        <h1>Welcome to the school portal   @Html.DisplayFor(modelItem => Model.name) @Html.DisplayFor(modelItem => Model.surname)</h1>
    </div>
    <form>
        <i>
            <h3>You can log in like a student or a teacher.</h3>
            <h3>You can register only like a teacher, schoolID is affirmation code.</h3>
            <h4>This portal helps in following student's achievement.</h4>
        </i>
    </form>
</div>
